<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">

  </head>
  <body>            
            <div class="pages-contact wrapper fadeInDown">
                <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.40941" type="text/javascript"></script>
                <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.40941" type="text/javascript"></script>
                <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
                <script type="text/javascript">	JotForm.newDefaultTheme = true;
                    JotForm.extendsNewTheme = false;
                    JotForm.singleProduct = false;
                    JotForm.newPaymentUIForNewCreatedForms = false;
                    JotForm.newPaymentUI = true;
                    JotForm.clearFieldOnHide="disable";
                    JotForm.submitError="jumpToFirstError";
                
                    JotForm.init(function(){
                    /*INIT-START*/
                if (window.JotForm && JotForm.accessible) $('input_5').setAttribute('tabindex',0);
                      JotForm.alterTexts(undefined);
                    /*INIT-END*/
                    });
                
                   JotForm.prepareCalculationsOnTheFly([null,{"name":"heading","qid":"1","text":"Contact Us","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"name","qid":"3","text":"Name","type":"control_fullname"},{"name":"email","qid":"4","text":"E-mail","type":"control_email"},{"name":"message","qid":"5","text":"Message","type":"control_textarea"}]);
                   setTimeout(function() {
                JotForm.paymentExtrasOnTheFly([null,{"name":"heading","qid":"1","text":"Contact Us","type":"control_head"},{"name":"submit2","qid":"2","text":"Submit","type":"control_button"},{"name":"name","qid":"3","text":"Name","type":"control_fullname"},{"name":"email","qid":"4","text":"E-mail","type":"control_email"},{"name":"message","qid":"5","text":"Message","type":"control_textarea"}]);}, 20); 
                </script>
                <style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>
                <link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.40941&themeRevisionID=5f30e2a790832f3e96009402"/>
                <link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.40941" />
                <link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.40941" />
                <style type="text/css" id="form-designer-style">
                    /* Injected CSS Code */
                .form-label.form-label-auto {
                        
                        display: inline-block;
                        /* float: left; */
                        text-align: left;
                      
                      }
                    /* Injected CSS Code */
                </style>
                
                <form class="jotform-form" action="/contact" method="post" name="form_231005933441446" id="231005933441446" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="231005933441446" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
                  <div role="main" class="form-all">
                    <ul class="form-section page-section">
                      <li id="cid_1" class="form-input-wide" data-type="control_head">
                        <div class="form-header-group  header-large">
                          <div class="header-text httal htvam">
                            <h1 id="header_1" class="form-header" data-component="header">Contact Us</h1>
                          </div>
                        </div>
                      </li>
                      <li class="form-line" data-type="control_fullname" id="id_3"><label class="form-label form-label-left form-label-auto" id="label_3" for="first_3"> Name </label>
                        <div id="cid_3" class="form-input" data-layout="full">
                          <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_3" name="q3_name[first]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_3 given-name" size="10" value="" data-component="first" aria-labelledby="label_3 sublabel_3_first" /><label class="form-sub-label" for="first_3" id="sublabel_3_first" style="min-height:13px" aria-hidden="false">First Name</label></span><span class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_3" name="q3_name[last]" class="form-textbox" data-defaultvalue="" autoComplete="section-input_3 family-name" size="15" value="" data-component="last" aria-labelledby="label_3 sublabel_3_last" /><label class="form-sub-label" for="last_3" id="sublabel_3_last" style="min-height:13px" aria-hidden="false">Last Name</label></span></div>
                        </div>
                      </li>
                      <li class="form-line jf-required" data-type="control_email" id="id_4"><label class="form-label form-label-left form-label-auto" id="label_4" for="input_4"> E-mail<span class="form-required">*</span> </label>
                        <div id="cid_4" class="form-input jf-required" data-layout="half"> <input type="email" id="input_4" name="q4_email" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:310px" size="310" value="" data-component="email" aria-labelledby="label_4" required="" /> </div>
                      </li>
                      <li class="form-line" data-type="control_textarea" id="id_5"><label class="form-label form-label-left form-label-auto" id="label_5" for="input_5"> Message </label>
                        <div id="cid_5" class="form-input" data-layout="full"> <textarea id="input_5" class="form-textarea" name="q5_message" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_5"></textarea> </div>
                      </li>
                      <li class="form-line" data-type="control_button" id="id_2">
                        <div id="cid_2" class="form-input-wide" data-layout="full">
                          <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button></div>
                        </div>
                      </li>
                      <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
                    </ul>
                  </div>
                  <script>
                    JotForm.showJotFormPowered = "new_footer";
                  </script>
                  <script>
                    JotForm.poweredByText = "Powered by Jotform";
                  </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="231005933441446" />
                  <script type="text/javascript">
                    var all_spc = document.querySelectorAll("form[id='231005933441446'] .si" + "mple" + "_spc");
                    for (var i = 0; i < all_spc.length; i++)
                    {
                      all_spc[i].value = "231005933441446-231005933441446";
                    }
                  </script>
                  <div class="formFooter-heightMask"></div>
                </form>
                </div>
      <footer class="site-footer gradient-custom foot">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <!-- <h6>About</h6>
              <p class="text-justify">It uses basic frontend technologies like HTML, CSS, JavaScrip and backend
                technologies too like node.js, express.js, EJS, APIs and authentication techniques.
                It uses MongoDB as a database. It's a greate website for the hospital management.
              </p> -->
              <br>
              <br>
              <a class="company" href="/">LetsProctor</a>
              <br>
              <br>
            <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by V-SMART</p>
    
    
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>Technologies</h6>
              <ul class="footer-links">
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Flask</a></li>
                <li><a href="#">JavaScrip/EJS</a></li>
                <li><a href="#">CSS/Bootstrap</a></li>
                <li><a href="#">templates</a></li>
    
              </ul>
            </div>
    
            <div class="col-xs-6 col-md-3">
              <h6>Contributors</h6>
              <ul class="footer-links">
                <li><a href="https://www.linkedin.com/in/ankit-singh-3b1b54216/" target="_blank">Ankit Singh</a></li>
                <li><a href="https://www.linkedin.com/in/vivek-dev-shah-654521212/" target="_blank">Vivek Dev Shah</a></li>
                <li><a href="https://www.linkedin.com/in/praveen-shankar-ba289a212/" target="_blank">Praveen Shankar</a></li>
                <li><a href="https://www.linkedin.com/in/mohit-yadav-0bb2a021b/" target="_blank">Mohit</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <!-- <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by V-SMART</p>
            </div>
          </div>
        </div> -->
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/test/wp-content/themes/child/script/jquery.jcarousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  </body>
</html>