<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <div class="msg">{{ msg }}</div>
          <input id="email" name="email" type="text" placeholder="Enter Your Username" class="textbox"/></br></br>
          <input id="passwd" name="passwd" type="text" placeholder="Enter Your Password" class="textbox"/></br></br></br>
          <button type="submit">login</button>
        </br></br>
      </form>
  <p class="bottom">Don't have an account? &nbsp<a class="bottom" href="{{url_for('register')}}"> Sign Up here</a></p>
</body>
</html>