<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/add_user" method="POST"  enctype="multipart/form-data" autocomplete="on">
    <div class="msg">{{msg}}</div>
    <input type="text" id = "username" name = "username" placeholder="Ex: Harry" required>
    <input type="text" id = "email" name = "email" placeholder="enter email" required>
    <input type="text" name="passwd" id="passwd" placeholder="enter password" required>
    <input type="text" id = "institute" name = "institute" placeholder="enter institute" required>
    <input type="file" id = "image" name = "image" placeholder="Upload a picture" required>
    <button type="submit">Submit</button>
  </form>

  
</body>
</html>