/* header  */
/* header and footer  */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
html {
  font-size: 62.5%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}
h1 {
  margin-bottom: 0.5em;
  font-size: 3.6rem;
}
p {
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  line-height: 1.6;
}

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.company{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 25px;
  border-radius: 4px;
}
.button-primary {
  position: relative;
  background-color: #c0ca33;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
  transition: color 0.3s ease-in;
  z-index: 1;
}
.button-primary:hover {
  /* color: #000000; */
  background-image: linear-gradient(to right, rgb(23, 62, 233), rgb(56, 187, 52));
  /* background: -webkit-linear-gradient(to right, rgb(23, 62, 233), rgb(56, 187, 52)); */

  text-decoration: none;
}
.button-primary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  /* background-color: #fff; */
  background-image: linear-gradient(to right, rgb(23, 62, 233), rgb(56, 187, 52));
  border-radius: 4px;
  opacity: 0;
  -webkit-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  transform: scaleX(0.8);
  transition: all 0.3s ease-in;
  z-index: -1;
}
.button-primary:hover::after {
  opacity: 1;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.overlay::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .3);
}
.header-area {
  position: relative;
  /* height: 100vh; */
  padding-top: 30vh;
  padding-bottom: 30vh;
  background:  rgb(205, 228, 204);
  /* background-image: linear-gradient(to right, rgb(39, 133, 241) , rgb(245, 106, 13)); */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}

.nav-area {
  position: relative;
  height: 10vh;
  /* background: #5bc0de; */
  /* background-image: linear-gradient(to right, rgb(39, 133, 241) , rgb(245, 106, 13)); */

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 80%;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.banner h1 {
  font-weight: 700;
  color: #000000;
}
.banner p {
  font-weight: 500;
  color: #000000;
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  width: 100%;
  transition: background 0.6s ease-in;
  z-index: 99999;
}
.navbar .navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
}
.navbar .navbar-toggler {
  position: relative;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}
.navbar .navbar-toggler .menu-icon-bar {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  transition: all 0.3s ease-in;
}
.navbar .navbar-toggler .menu-icon-bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(45deg);
  -ms-sform: translateY(-1px) rotate(45deg);
  transform: translateY(-1px) rotate(45deg);
}
.navbar .navbar-toggler .menu-icon-bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-1px) rotate(135deg);
  -ms-sform: translateY(-1px) rotate(135deg);
  transform: translateY(-1px) rotate(135deg);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar {
  opacity: 1;
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:first-child {
  -webkit-transform: translateY(-7px) rotate(0);
  -ms-sform: translateY(-7px) rotate(0);
  transform: translateY(-7px) rotate(0);
}
.navbar .navbar-toggler.collapsed .menu-icon-bar:last-child {
  -webkit-transform: translateY(5px) rotate(0);
  -ms-sform: translateY(5px) rotate(0);
  transform: translateY(5px) rotate(0);
}
.navbar-dark .navbar-nav .nav-link {
  position: relative;
  color: #ffffff;
  font-size: 1.6rem;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #000000;
}
.navbar .dropdown-menu {
  padding: 0;
  /* background-color: rgba(0, 0, 0, .9); */
  /* background-image: linear-gradient(to right, rgb(39, 133, 241) , rgb(245, 106, 13)); */
  background: bisque;

}
.navbar .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px 20px;
  color: #000000;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  transition: color 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
}
.navbar .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}
.navbar .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.navbar .dropdown-menu .dropdown-item:hover::before {
  opacity: 2;
}
.navbar.fixed-top {
  position: fixed;
  -webkit-animation: navbar-animation 0.6s;
  animation: navbar-animation 0.6s;
  /* background-color: rgba(0, 0, 0, .9); */
  /* background-image: linear-gradient(to right, rgb(39, 133, 241) , rgb(245, 106, 13)); */

}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
  color: #c0ca33;
}
.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
  background-color: #c0ca33;
}
.content {
  padding: 120px 0;
}
@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-nav {
    padding: 0 20px;
    background-color: rgba(0, 0, 0, .9);
  }
  .navbar.fixed-top .navbar-nav {
    background: transparent;
  }
}
@media screen and (min-width: 767px) {
  .banner {
    padding: 0 150px;
  }
  .banner h1 {
    font-size: 5rem;
  }
  .banner p {
    font-size: 2rem;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 23px 15px;
  }
  .navbar-dark .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 30%;
    right: 30%;
    height: 1px;
    background-color: #7c7c7c;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform 0.1s ease-in;
  }
  .navbar-dark .navbar-nav .nav-link:hover::after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .dropdown-menu {
    min-width: 200px;
    -webkit-animation: dropdown-animation 0.3s;
    animation: dropdown-animation 0.3s;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
  }
}
@-webkit-keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes navbar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes dropdown-animation {
  0% {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
  }
  75% {
    -webkit-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    transform: scaleY(1.1);
  }
  100% {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
  }
}

/* footer */
.text-justify{
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.site-footer
{
  position: relative;
  /* background: #5bc0de; */
  /* background-image: linear-gradient(to right, rgb(39, 133, 241) , rgb(245, 106, 13)); */
  padding:15px 0 0px;
  font-size:15px;
  line-height:22px;
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}
.site-footer hr
{
  margin:0px;
  border-top-color:#000000;
  opacity:0.5
}
.site-footer hr.small
{
  margin:0 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:0;
  letter-spacing:2px;
  font-weight: 700;

}
.site-footer a
{
  color:#f3f3f3;
}
.site-footer a:hover
{
  color:#000000;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#000000;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}

.copyright-text
{
  margin:5px
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:10px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:5px
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* login/register */
.gradient-custom {
  /* fallback for old browsers */
  background: #0bf17e;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(23, 62, 233), rgb(91, 192, 88));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(23, 62, 233), rgb(91, 192, 88))
  }

/* btn  */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  /* @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
  } */

  /* images */
  .lady-img{
    width: 100%;
    height: auto;
  }

  .info-1{
    font-family: 'Open Sans', sans-serif;
      padding-top: 100px;
      color: #ffffff;
      padding-bottom: 100px;
      color: #ffffff;
      font-weight: 700;
  
    }

  .info-2{
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right, rgb(63, 78, 209), rgb(114, 45, 224));
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    font-weight: 700;
  }

  .info-3{
    font-family: 'Open Sans', sans-serif;
      padding-top: 50px;
      padding-bottom: 50px;
      color: #000000;
      font-weight: 700;
      position: relative;
      background:  #c0e9e1;
    }

    .info-3 h1 {
      font-weight: 700;
      color: #000000;
    }

    .info-3 p li {
      font-weight: 500;
      color: #000000;
    }

    .info-4{
      font-family: 'Open Sans', sans-serif;
        padding-top: 50px;
        padding-bottom: 50px;
        color: #000000;
        font-weight: 700;
        position: relative;
        background:  rgb(240, 240, 240);
      }

      .info-4 h1{
        text-align: center;
        font-weight: 700;
        padding-bottom: 20px;
        font-size: 40px;
      }

    /* test page  */
/* .instructions{
  padding-left: 20px;
} */

    .dos{
      font-family: 'Open Sans', sans-serif;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #000000;
      font-weight: 700;
      position: relative;
      background-color: #0bf17e;
    }

    .donts{
      font-family: 'Open Sans', sans-serif;
      padding-top: 30px;
      padding-bottom: 30px;
      color: #000000;
      font-weight: 700;
      position: relative;
      background-color: #d8363a;
    }
    

    /* testing page  */

    /* .question.qcontainer {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #0c0b0b9c;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
     */
    
    
    .question form {
      margin-top: 20px;
    }
    
    .question p {
      margin-bottom: 10px;
    }
    
    .question textarea {
      width: 100%;
      height: 500px;
      background-color: #918a8a;
      color: #f3f3f3;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 10px;
      box-sizing: border-box;
      margin-bottom: 10px;
      overflow-x: scroll;
    }
    

    .info-5{
      font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #000000;
        
        font-weight: 300;
        position: relative;
        background:  #fffffd;
      }

      .info-6{
      background-color: #918a8a;

      }

      /* video streaming */
      .video-container {
        position: fixed;
        width: 80px;
        height: 50px;
        top: 60px;
        left: 900px;
        /* right: 1px; */
      }
      
      .video-container image {
        width: 80px;
        height: 50px;
        /* Add any additional styles for the video as needed */
      }
      
      .timer{
      font-family: 'Open Sans', sans-serif;
      font-size: 30px;
        color: #f5f1f1;
        font-weight: 600;
        /* background-color: #3ee470; */
        padding: 2px;
        
      }

      .info-7{
        font-family: 'Open Sans', sans-serif;
  /* background: linear-gradient(to right, rgb(216, 216, 216), rgb(0, 0, 0)); */
  background:  rgb(253, 253, 253);
    padding-top: 60px;
    padding-bottom: 60px;
    color: #000000;
    font-weight: 700;
      }